<table ng-init="getExams()" class="table table-bordered" >
	<thead>
		<tr>
			<th>Subject name</th>
			<th>Maximum Points</th>
			<th>Location</th>
			<th>Date and time</th>
			
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="exam in exams | filter:show ">
			<td>{{ exam.subjectName }}</td>
			<td>{{ exam.maxPoints }}</td>
			<td>{{ exam.location }}</td>
			<td>{{ exam.date }}</td>
			<td>
				<button ng-click="deleteExam(exam.id)"
				class="btn btn-xs btn-danger">delete</button> 
				<button ng-click="examActive(exam.id)" ng-show="exam.active==true"
				class="btn btn-xs btn-danger">deactivate</button> 
				<button ng-click="examActive(exam.id)" ng-show="exam.active==false"
				class="btn btn-xs btn-danger">activate</button> 
				<a href="#!/exam/edit/{{ exam.id }}" class="btn btn-xs btn-default">edit</a>
				<a href="#!/exam/points/{{ exam.id }}" class="btn btn-xs btn-default">enter points</a>
			</td>
		</tr>

	</tbody>
</table>

<a href="#!/addexam" class="btn btn-default">Add new exam</a> 
<button ng-show="show.active==true" ng-click="showDeactivated()" class="btn btn-default">Show deactivated exams</button>
<button ng-show="show.active==false" ng-click="showActivated()" class="btn btn-default">Show active exams</button>

